{% extends "translator/page.html" %}

{% block subtitle %}{{ _('Translator') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Translator'), controller='ckanext.lait.plugin:LaitController', action='translator' %}</li>
{% endblock %}


{% block primary_content_inner %}
	<form class="search-form no-bottom-border" role="search" onsubmit='return false;' data-module="select-switch">

    	<div class="search-input control-group search-giant">
	        <input id="search-filter" type="text" class="search" name="q" value="{{ q }}" autocomplete="off" placeholder="{{ _('Search within terms') }}..." >
	        <button type="button" onclick="search();">
	          <i class="icon-search" ></i>
	        </button>
	        
    	</div>

    	<div style="margin-bottom: 10px;">
    		<div style="float:left;">
    			<h2 id="terms-count-box" style="font-weight:bold;display:none">
				    <span id="terms-count"></span> {{ _('terms found') }}
			  	</h2>
    		</div>
	    	<div style="float:right;font-size:18px;margin-top: 8px;">
	    		<div style="float:left;">{{ _('Translated') }}
	    			<input id="search-translated" type="checkbox" onclick="search();" style="width:20px; height:20px; margin:-18px 20px 0 5px;" checked>
	    		</div>
				<div style="float:left;">{{ _('Not translated') }}
					<input id="search-not-translated" type="checkbox" onclick="search();" style="width:20px; height:20px; margin:-18px 0 0 5px" checked></div>
				<br style="clear:both;" />
	    	</div>
		  	<br style="clear:both;" />
		  	
	  	</div>
    	<div id="terms-stats-box" class="alert" style="font-style:italic;font-size:14px;display:none">
	  		<button type="button" class="close" data-dismiss="alert">&times;</button>
		  	{{_('Translated')}} <span id="terms-stats-translated"></span> {{ _('terms on')}} <span id="terms-stats-total"></span> (<span id="terms-stats-percentage"></span>&#37;)
		</div>
	</form>

	<div style="margin: 15px -25px 0px -25px !important;font-size: 14px;">
		<table id="main-table" class="table table-hover table-bordered">
			<thead>
				<tr>
					<th style="width:6%;text-align:center;">#</th>
					<th id="mainLang" style="width:47%;text-align:center;"></th>
					<th id="translatedLang" style="width:47%;text-align:center;"></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<div id="pagination" class="pagination pagination-centered">
			<ul>
			</ul>
		</div>
	</div>

	<div id="translateModal" class="modal hide">
    	<form role="form" onsubmit='return false;' style="margin:0;">
		    <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h3>{{_('Translation panel')}}</h3>
		    </div>
		    
		    <div class="modal-body"> 
				<h4>{{_('Original text')}}:</h4>
				<p id="term" style="margin: 5px 0 10px 6px;"></p>
				<h4>{{_('Translated text')}}:</h4>
				<textarea class="form-control" id="term-translation" style="resize: vertical;width:97%;margin-top:5px"
					placeholder="{{_('Provide a translation for the selected text')}}" rows="5"></textarea>
		        <div id="message-box" style="margin-top: 5px;"></div>
		        
		    </div>
		    
		    <div class="modal-footer">
		    	<button type="submit" class="btn" data-dismiss="modal">{{_('Close')}}</button>
		        <button type="submit" class="btn btn-primary" onclick="insertTranslation();">{{_('Save')}}</button>
		    </div>
	    </form>
	</div>

	<span id="row-num" style="display:none;"></span>
    <span id="msg-ok" style="display:none;">{{_('Translation successfully saved')}}</span>
    <span id="msg-ko" style="display:none;">{{_('Error saving translation')}}</span>
    <span id="api-key" style="display:none;">{{ c.userobj.apikey }}</span>
    <span id="user" style="display:none;">{{ c.userobj.name }}</span>
{% endblock %}
