<!-- HEADER CUT START -->
<!-- THE LINE AT THE VERY TOP OF THE PAGE -->
<div class="top_line">
	<div class="container">
		<div class="row">
			<div class="span12">
				<ul class="tabs">
					{% if c.userobj==None %}
						<li class="logo-login"><a href="/login" class="logo-login">entra/registrati</a></li>
						<li><a href="/login">entra con un social</a></li>
					{% else %}
						<li class="logo-login">{{c.userobj.name}} / <a href="/c/portal/logout" class="logo-login">esci</a></li>
					{% endif %}
					{% set current_url = request.environ.CKAN_CURRENT_URL %}
					{% set current_lang = request.environ.CKAN_LANG %}
					{% if current_lang == 'it' %}
					<li class="en"><a href="{% url_for current_url, locale='en' %}">english</a></li>
					{% elif current_lang == 'en' %}
					<li class="en"><a href="{% url_for current_url, locale='it' %}">italiano</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- START HEADER AREA -->
<!--WRAPPER-OUT-- aggiunta--->
<div class="wrapper-out">
	<div class="wrapper-in">
		<!--CONTAINER-- aggiunta--->
		<div class="container">
			<!-- div class="wrapper" -->
				<header>
					<div class="container">
						<div class="row">
							<!-- HEADER: LOGO AREA -->
							<div class="span5">
								<a href="/"><div class="logo"></div>
									<!-- img alt="logo"	title="Open Data Lazio" src="img/logoODL.png" -->
								</a>
							</div>
							<div class="span7">
								<ul class="nav-open">
									<li><a href="/">open <span>progetti</span></a></li>
									<li><a href="/">open <span>spesa</span></a></li>
									<li><a href="/">open <span>sanità</span></a></li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="span8"></div>
							<div class="span4">
								<script type="text/javascript">
									function searchLiferay(){
									    var q=document.getElementById('search').value;
									    window.location = "/c/portal/search?keywords="+q;
									    event.preventDefault();
									}
								</script>
								<form id='search-liferay' class="form-allsearch" data-module="select-switch"  onsubmit="searchLiferay();">
								     	   <input type="text" id="search" placeholder=""  class="input-search">
								        <button id='search-button' value="search" type=""><i class="icon-search"></i><span></span></button>
								</form>
							</div>
						</div>
					</div>
					<!--end container-->
				</header>
				<!-- END HEADER AREA -->
			<!-- /div -->
		</div>
	</div>
	<nav>
		<!-- HEADER: PRIMARY SITE NAVIGATION -->
		<div class="nav-out">
			<div class="btn-responsive-menu">
				<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
        	</div>
			<div class="container">
				<div class="nav-in" id="mainmenu">
					<ul class="nav">
						<li class="active"><a href="{% url_for controller='package', action='search' %}">{{_('Data')}}</a></li>
						<li class=""><a href="/applicazioni">{{_('Applications')}}</a></li>
						<li class=""><a href="/comunita">{{_('Community')}}</a></li>
						<li class=""><a href="/notizie">{{_('News')}}</a></li>
					</ul>
				</div>
				<!-- end navbar -->
			</div>
			<!-- end container -->
		</div>
		<!-- end navbar-out -->

		<div class="subnav-out">
			<div class="container">
				<div class="subnav-in nav-in">
					<ul class="nav">
						<li {% if '/dataset' in request.environ.CKAN_CURRENT_URL and request.params.get('_exp')!='true' %}class="active"{% endif %}><a href="{% url_for controller='package', action='search' %}">{{_('Dataset')}}</a></li>
						<li><a href="/dati-geografici">{{_('Geo Data')}}</a></li>
						<li {% if '/dataset' in request.environ.CKAN_CURRENT_URL and request.params.get('_exp')=='true' %}class="active"{% endif %}><a href="{% url_for controller='package', action='search' %}?_exp=true">{{_('Search on map')}}</a></li>
						<li {% if '/organization' in request.environ.CKAN_CURRENT_URL %}class="active"{% endif %}><a href="{% url_for controller='organization', action='index' %}">{{_('Search by organization')}}</a></li>
						<li {% if request.environ.CKAN_CURRENT_URL.endswith('/category') %}class="active"{% endif %}><a href="{% url_for controller='ckanext.lait.plugin:LaitController', action='category' %}">{{_('Search by category')}}</a></li>
						<li {% if request.environ.CKAN_CURRENT_URL.endswith('/app') %}class="active"{% endif %}><a href="{% url_for controller='ckanext.lait.plugin:LaitController', action='app' %}">{{_('Search Apps')}}</a></li>
						<li><a href="/application-programming-interface">{{_('API')}}</a></li>
						<li><a href="/linked-data">{{_('Linked Data')}}</a></li>
						<li><a href="/invia-il-tuo-dataset">{{_('Submit your dataset')}}</a></li>
					</ul>
				</div>
			</div>
			<!--end--container-out-->
		</div>
		<!--end--subnav-out-->
	</nav>
	<!-- END NAV -->
	<!-- HEADER CUT END -->
