{% set current_url = request.environ.CKAN_CURRENT_URL %}
{% set current_lang = request.environ.CKAN_LANG %}
<div id="current-lang" style="display:none;">{{ current_lang }}</div>
{% set liferay_lang_prefix = '' %}
<!-- START commentato per RILASCIO -->
<div class="top_line">
	<div class="container">
		<div class="row">
			<div class="span12">
				<ul class="tabs">
					{% if c.userobj==None %}
						<li class="logo-login"><a href="/login" class="logo-login">{{_('login')}}/{{_('sign up')}}</a></li>
						<!-- li><a href="/login">{{_('entra con un social')}}</a></li -->
					{% else %}
						<li class="logo-login">{{c.userobj.fullname}} / <a href="/c/portal/logout">{{_('logout')}}</a></li>
					{% endif %}
					{% if current_lang == 'it' %}
						<li class="en"><a href="{% url_for current_url, locale='en' %}">english</a></li>
					{% elif current_lang == 'en' %}
						{% set liferay_lang_prefix = '/en' %}
						<li class="en"><a href="{% url_for current_url, locale='it' %}">italiano</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- END commentato per RILASCIO -->
<div class="wrapper-out">
	<div class="wrapper-in">
		<div>
			<a href="{{liferay_lang_prefix}}/">
				<img alt="logo"	title="Open Data Lazio" src="/catalog/img/opendatalogo.png">
			</a>
		</div>
		<div class="container">
			<!-- START commentato per RILASCIO -->
			<header>
                <div class="container">
                    <div class="row" style="min-height:22px">
                        <div class="span4">
                        	<script type="text/javascript">
								function searchLiferay(){
								    var q=document.getElementById('search').value;
								    window.location.href = "/c/portal/search?keywords="+q;
								    //event.preventDefault();
								}
							</script>
                	        <form id='search-liferay' class="form-allsearch custom-home" data-module="select-switch" onsubmit="searchLiferay();return false;">
								<input type="text" id="search" placeholder="" class="input-search">
								<button id='search-button' value="search" type="">
									<i class="icon-search"></i><span></span>
								</button>
							</form>
                        </div>
                        <div class="span8">
                            <ul class="nav-open">
	                            <li><a href="{{liferay_lang_prefix}}/">open <span>progetti</span></a></li>
								<li><a href="{{liferay_lang_prefix}}/">open <span>spesa</span></a></li>
								<li><a href="{{liferay_lang_prefix}}/">open <span>sanità</span></a></li>
                            </ul>
                    	</div>
                    </div>
                </div>
            </header>
            <!-- END commentato per RILASCIO -->
		</div>
	</div>
	<!-- START commentato per RILASCIO -->
	<nav>
		<div class="nav-out">
			<div class="btn-responsive-menu">
				<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
        	</div>
			<div class="container">
				<div class="nav-in" id="mainmenu">
					<ul class="nav">
						<li class=""><a href="{{liferay_lang_prefix}}/">{{_('Home')}}</a></li>
						<li class="active"><a href="{% url_for controller='package', action='search' %}">{{_('Data')}}</a></li>
						<li class=""><a href="{{liferay_lang_prefix}}/applicazioni">{{_('Applications')}}</a></li>
						<li class=""><a href="{{liferay_lang_prefix}}/comunita">{{_('Community')}}</a></li>
						<li class=""><a href="{{liferay_lang_prefix}}/notizie">{{_('News and Events')}}</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="subnav-out">
			<div class="container">
				<div class="subnav-in nav-in">
					<ul class="nav">
						<li {% if '/dataset' in request.environ.CKAN_CURRENT_URL and request.params.get('_exp')!='true' %}class="active"{% endif %}><a href="{% url_for controller='package', action='search' %}">{{_('Dataset')}}</a></li>
						<li><a href="{{liferay_lang_prefix}}/dati-geografici">{{_('Geo Data')}}</a></li>
						<li {% if '/dataset' in request.environ.CKAN_CURRENT_URL and request.params.get('_exp')=='true' %}class="active"{% endif %}><a href="{% url_for controller='package', action='search' %}?_exp=true">{{_('Search on map')}}</a></li>
						<li {% if '/organization' in request.environ.CKAN_CURRENT_URL %}class="active"{% endif %}><a href="{% url_for controller='organization', action='index' %}">{{_('Search by organization')}}</a></li>
						<li {% if request.environ.CKAN_CURRENT_URL.endswith('/category') %}class="active"{% endif %}><a href="{% url_for controller='ckanext.lait.plugin:LaitController', action='category' %}">{{_('Search by category')}}</a></li>
						<li {% if request.environ.CKAN_CURRENT_URL.endswith('/app') %}class="active"{% endif %}><a href="{% url_for controller='ckanext.lait.plugin:LaitController', action='app' %}">{{_('Search Apps')}}</a></li>
						<li><a href="{{liferay_lang_prefix}}/application-programming-interface">{{_('API')}}</a></li>
						<li><a href="{{liferay_lang_prefix}}/linked-data">{{_('Linked Data')}}</a></li>
						<li><a href="{{liferay_lang_prefix}}/invia-il-tuo-dataset">{{_('Submit your dataset')}}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
<!-- END commentato per RILASCIO -->
