{% extends "package/read_base.html" %}

{% set pkg = c.pkg_dict %}

{% block primary_content_inner %}
  {{ super() }}
  {% block package_description %}
    {% if pkg.private %}
      <span class="dataset-private label label-inverse pull-right">
        <i class="icon-lock"></i>
        {{ _('Private') }}
      </span>
    {% endif %}
    <h1>
      {% block page_heading %}
        {{ pkg.title or pkg.name }}
        {% if pkg.state.startswith('draft') %}
          [{{ _('Draft') }}]
        {% endif %}
      {% endblock %}
    </h1>
    {% block package_notes %}
      {% if c.pkg_notes_formatted %}
        <div class="notes embedded-content">
          {{ c.pkg_notes_formatted }}
        </div>
      {% endif %}
      <ul class="module-dati">
        <li>{{ _('License') }}: 
        {% if pkg.license_title %}
            {% if pkg.license_url %}
              <span><a href="{{ pkg.license_url }}">{{ pkg.license_title }}</a></span>
            {% else %}
              <span>{{ pkg.license_title }}</span>
            {% endif %}
        {% else %}
          <span>{{ _('No License Provided') }}</span>
        {% endif %}
        {% if pkg.url %}
          <li>{{ _('Origin') }}: <span><a href="{{ pkg.url }}">{{ pkg.url }}</a></span></li>
        {% endif %}
      </ul>
    {% endblock %}
    {# FIXME why is this here? seems wrong #}
    <span class="insert-comment-thread"></span>
  {% endblock %}

  {% block package_resources %}
    {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}
  {% endblock %}

  {% block package_tags %}
    {% snippet "package/snippets/tags.html", tags=pkg.tags, category=pkg.category, category_id=pkg.category_id %}
  {% endblock %}

<!-- START commentato per RILASCIO -->
  {% block package_rating %}
    {% snippet "package/snippets/rating.html", user=c.userobj %}
  {% endblock %}
<!-- END commentato per RILASCIO -->

  {% block package_additional_info %}
    {# % snippet "package/snippets/additional_info.html", pkg_dict=pkg % #}
  {% endblock %}

  <!-- START commentato per RILASCIO -->
  {% block disqus %}
    {% snippet "snippets/disqus.html", user=c.userobj, id=pkg.id, title=pkg.title %}
    <div style="margin-top: 10px;">
      <script type="text/javascript">
      var win_detached;
      function detach(){
        if(win_detached)
          win_detached.close();
        win_detached = window.open('/catalog/disqus?id={{pkg.id}}&title={{pkg.title}}','{{pkg.title}}','width=667,height=500,top=100,left=100');
      }
      </script>
      <button id="detach" type="button" class="btn btn-default" onclick="detach();">
        {{ _('Popup comments') }}
      </button>
    </div>
  {% endblock %}
  <!-- END commentato per RILASCIO -->
              
{% endblock %}