{# Displays the Disqus widget #}
<p></p>
<div id="disqus_thread"></div>
<script type="text/javascript">   
var public_api_key = 'l4FMrTA0Csaw6IajLUVdzzz8Xvl827juImnHhFrTIbWhEL4uKZXbT8JR58io3Oo5';
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'lait-opendata-dataset'; 
/* fields below are placed into package/page.html before the pre_primary block */
/* and are populate by a script into the main section of package/read.html and package/resource_read.html*/
var disqus_identifier = '{{ id }}';
var disqus_title = '{{ title }}';
var disqus_config = function () {
  this.language = "{{request.environ.CKAN_LANG}}";
  this.page.remote_auth_s3 = '{}';
  this.page.api_key = public_api_key;
};
var request = false;
if (window.XMLHttpRequest) 
    request = new XMLHttpRequest();
else if (window.ActiveXObject) 
    request = new ActiveXObject("Microsoft.XMLHTTP");

if (request) {
  var username = '{{ user.name }}';
  if(username!=''){ 
    request.open("GET", '/LaitExtension-hook/api/service/disqusLoginPayload/'+username);
    request.onreadystatechange = function (){
      try {
        if (request.readyState == 4 && request.status == 200) { 
          var payload = eval('(' + request.responseText + ')');
          disqus_config = function () {
            this.language = "{{request.environ.CKAN_LANG}}";
            this.page.remote_auth_s3 = payload.payload;
            this.page.api_key = public_api_key;
          };
          disqus_init();
        }
      }catch(err) {
        alert(err);
        disqus_init();
      }
    };
    request.send(null);
  }else{
    disqus_init();
  }
}

function disqus_init(){
  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
}

</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    
