{#
Displays a sidebard module with information for given package

pkg    - The package dict that owns the resources.

Example:

  {% snippet "package/snippets/info.html", pkg=pkg %}

#}
{% if pkg %}
<section class="info-dataset">
  <ul>
    {% if pkg.organization %}
      <li>{{ _('Organization') }}: <a href="{{ h.url_for(controller='organization', action='read', id=pkg.organization.id) }}">{{ pkg.organization.title}}</a></li>
    {% endif %}
    {% if pkg.author %}
      {% if pkg.author_email %}
        <li class="sendmail">{{ _('Author') }}: <a href="mailto:{{ pkg.author_email }}">{{ pkg.author }}</a></li>
      {% else %}
        <li>{{ _('Author') }}: <span>{{ pkg.author }}</span></li>
      {% endif %}
    {% endif %}
    {% if pkg.maintainer %}
      {% if pkg.maintainer_email %}
        <li class="sendmail">{{ _('Maintainer') }}: <a href="mailto:{{ pkg.maintainer_email }}">{{ pkg.maintainer }}</a></li>
      {% else %}
        <li>{{ _('Maintainer') }}: <span>{{ pkg.maintainer }}</span></li>
      {% endif %}
    {% endif %}
    <li>{{ _('Created on') }}: <span>{{pkg.metadata_created[8:10]}}/{{pkg.metadata_created[5:7]}}/{{pkg.metadata_created[:4]}}</span></li>
    {% if pkg.dataset_last_update %}
      <li>{{ _('Updated on') }}: <span>{{pkg.dataset_last_update[8:10]}}/{{pkg.dataset_last_update[5:7]}}/{{pkg.dataset_last_update[:4]}}</span></li>
    {% endif %}
    {% if pkg.update_frequency %}
      <li>{{ _('Update frequency') }}: <span>{{pkg.update_frequency}}</span></li>
    {% endif %}
    {% if pkg.temporal_period %}
      <li>{{ _('Temporal period') }}: <span>{{pkg.temporal_period}}</span></li>
    {% endif %}
    {% if pkg.openess_rating %}
      <li>{{ _('Openess rating') }}: <span>{{pkg.openess_rating}}</span></li>
    {% endif %}
    <li class="revisioni"><a href="{{ h.url_for(controller='package', action='activity', id=pkg.id) }}">{{ _('Activity Stream') }}</a></li>
    <li {% if not 'spatial' in pkg or pkg.spatial=='' %}class="last"{% endif %}>
      {{ _('Followers') }}: {{ h.SI_number_span(h.get_action('dataset_follower_count', {'id': pkg.id})) }}
      {% if not hide_follow_button and not user==None %}
        <div class="follow_button">
          {{ h.follow_button('dataset', pkg.name) }}
        </div>
      {% endif %}
    </li>
    {% if 'spatial' in pkg and pkg.spatial!='' %}
    <li class="last"><span>{{ _('Location') }}</span>
      {% snippet "package/snippets/dataset_map_sidebar.html", extent=pkg.spatial %}
    </li>
    {% endif %}
  </ul>
</section>
{% endif %}
