{% set current_url = h.full_current_url() %}
{% resource 'ckanext-lait/rating'%}


<section>
<div class="rating">
    <div class="rating-title"> {{ _('Community Rating') }}:</div> 
    <!-- h1 class="heading" id="rating_value">-</h1 -->
    <!-- p class="empty" style="padding-bottom:10px;">Within <span id="rating_count">0</span> total voters</p -->
    <div class="rating-new">
        <span id="{{ _('Excellent') }}">★</span>
        <span id="{{ _('Good') }}">★</span>
        <span id="{{ _('Average') }}">★</span>
        <span id="{{ _('Poor') }}">★</span>
        <span id="{{ _('Awful') }}">★</span>
    </div>
    <!-- p id="hint" class="empty" style="padding:10px 0 0 0;"></p -->
</div>

<script type="text/javascript">
var requestObj = false;
if (window.XMLHttpRequest) {
    requestObj = new XMLHttpRequest();
} else if (window.ActiveXObject) {
    requestObj = new ActiveXObject("Microsoft.XMLHTTP");
}

var user = '{{ user.name }}';
//alert(user);
var hint;
if(user != ''){
    //enabling the rating
    document.getElementById("{{ _('Excellent') }}").addEventListener('click', function (){ rate(5)});
    document.getElementById("{{ _('Good') }}").addEventListener('click', function (){ rate(4)});
    document.getElementById("{{ _('Average') }}").addEventListener('click', function (){ rate(3)});
    document.getElementById("{{ _('Poor') }}").addEventListener('click', function (){ rate(2)});
    document.getElementById("{{ _('Awful') }}").addEventListener('click', function (){ rate(1)});
    hint = "{{ _('Vote the dataset choosing the appropriate level') }}";
}else{
    //if no user is logged in the rating is disabled
    document.querySelector('.rating-new').className = "rating-new-disabled";
    hint = "{{ _('You need to log in to vote a dataset') }}";
}
//document.getElementById('hint').innerHTML = hint;
//getting the current rate (with no params)
rate();

function rate(star_num){    
    if (requestObj) {
        var ds = window.location.pathname;
    	ds = ds.substring(ds.lastIndexOf("/")+1);
    	var query = 'ds='+ds;
    	if(user!='') query = query + '&user='+user;
    	if(star_num!=undefined) query = query + '&rating='+star_num;
    	requestObj.open("GET", '/CKANAPIExtension/rate?'+query);
        document.getElementsByTagName("body")[0].className = "loading";
        
        requestObj.onreadystatechange = function (){
            try {
                var rating_string;
                var rating_count;
                if (requestObj.readyState == 4 && requestObj.status == 200) {
                    //alert(requestObj.responseText);
                    var rating_obj = eval('(' + requestObj.responseText + ')');
                    rating_count = rating_obj.count;
                    if(rating_obj.rating=='1')
                        rating_string = "{{ _('Awful') }}";
                    else if(rating_obj.rating=='2')
                        rating_string = "{{ _('Poor') }}";
                    else if(rating_obj.rating=='3')
                        rating_string = "{{ _('Average') }}";
                    else if(rating_obj.rating=='4')
                        rating_string = "{{ _('Good') }}";
                    else if(rating_obj.rating=='5')
                        rating_string = "{{ _('Excellent') }}";
                    else
                        rating_string = '-';
    		        //var rating_value_obj = document.querySelector('#rating_value');
                	//rating_value_obj.innerHTML = rating_string;
                	//var rating_count_obj = document.querySelector('#rating_count');
                	//rating_count_obj.innerHTML = rating_count;

                	//reset current rating
                    document.querySelector("#{{ _('Excellent') }}").className = "";
                    document.querySelector("#{{ _('Good') }}").className = "";
                    document.querySelector("#{{ _('Average') }}").className = "";
                    document.querySelector("#{{ _('Poor') }}").className = "";
                    document.querySelector("#{{ _('Awful') }}").className = "";
                    if(rating_string!='-')
                      document.querySelector('#'+rating_string).className = "rating-new-selected";
                }
            }catch(err) {
                alert(err);
            }finally{
                document.getElementsByTagName("body")[0].className = "";
            }
        };
        requestObj.send(null);
    }
}

</script>
<div class="modal"><!-- Place at bottom of page --></div>
</section>

