<section class="tags">
{% if category %}
	{% for cat in h.categories().categories  %}
		{% if category == cat.name %}
			<div class="category-icon-small category-icon-small-{{ cat.id }}">
		{% endif %}
	{% endfor %}
{% else %}
	<div class="category-icon-small">
{% endif %}
		<ul>
		{% if category %}
			<li><span>{{ _('Category') }}</span>: <a href="{% url_for controller='package', action='search', category=category %}">{{ category }}</a></li>
		{% endif %}
		{% if tags %}
			<li><span>{{ _('Tags') }}</span>: 
			{% for tag in tags %}
				<a href="{% url_for controller='package', action='search', tags=tag.name %}">{{ h.truncate(tag.display_name, 22) }}</a> | 
			{% endfor %}
			</li>
		{% endif %}
		</ul>
	</div>
</section>