{% if request.environ.CKAN_LANG == 'en' %}
  {% set cat_name = category.name_en %}
{% else %}
  {% set cat_name = category.name %}
{% endif %}
<li class="media-item media-item-category">
  {% block image %}
    <img class="category-icon-big" src="/catalog/img/cat_{{ category.id }}.png" />
  {% endblock %}
  {% block title %}
    <h3 class="media-heading" style="text-align:center">{{ cat_name }}</h3>
  {% endblock %}
  {% block description %}
    {% if category.description %}
      <p>{{ h.markdown_extract(category.description, extract_length=80) }}</p>
    {% endif %}
  {% endblock %}
  {% block datasets %}
    <div style="text-align:center">
    {% if category.packages %}
      <strong class="count">{{ ungettext('{num} Dataset', '{num} Datasets', category.packages).format(num=category.packages) }}</strong>
    {% elif category.packages == 0 %}
      <span class="count">{{ _('0 Datasets') }}</span>
    {% endif %}
    </div>
  {% endblock %}
  <a href="{% url_for controller='package', action='search', category=category.name %}" title="{{ _('View {name}').format(name=cat_name) }}" class="media-view">
    <span>{{ _('View {name}').format(name=cat_name) }}</span>
  </a>
</li>
{% if position is divisibleby 4 %}
  <li class="clearfix js-hide"></li>
{% endif %}
