[main]

dont_bundle = 
    css/style-odl.css
    css/font-odl.css
    css/menu-odl.css
    css/responsive-odl.css
    css/deckaner.css
    css/custom.css
    css/color_scheme.css
    css/print.css

[depends]

main = base/main

[custom render order]

css/style-odl.css = 21
css/menu-odl.css = 22
css/responsive-odl.css = 23
css/font-odl.css = 24
css/deckaner.css = 25
css/custom.css = 26
css/color_scheme.css = 27
css/print.css = 28
css/rating.css = 30

[groups]

js =
    js/lait.js
rating =
    css/rating.css
    js/rating.js
theme =
    css/menu-odl.css
    css/responsive-odl.css
    css/style-odl.css
    css/font-odl.css
    css/deckaner.css
    css/custom.css
    css/color_scheme.css
    css/print.css
