[main]

dont_bundle = 
    css/style-odl.css
    css/font-odl.css
    css/menu-odl.css
    css/responsive-odl.css
    css/deckaner.css
    css/custom.css
    css/color_scheme.css
    css/print.css
    css/translate.css

[depends]

main = base/main

[custom render order]

css/style-odl.css = 21
css/menu-odl.css = 22
css/responsive-odl.css = 23
css/font-odl.css = 24
css/deckaner.css = 25
css/custom.css = 26
css/color_scheme.css = 27
css/print.css = 28
css/rating.css = 30
css/translate.css = 31

[groups]

js =
    js/lait.js
rating =
    css/rating.css
    js/rating.js
theme =
    css/menu-odl.css
    css/responsive-odl.css
    css/style-odl.css
    css/font-odl.css
    css/deckaner.css
    css/custom.css
    css/color_scheme.css
    css/print.css
dataset_map =

    js/vendor/leaflet/leaflet-src.js
    js/common_map.js
    js/dataset_map.js

    js/vendor/leaflet/leaflet.css
    css/dataset_map.css
geolocalization =
    js/vendor/leaflet/leaflet-src.js
    js/vendor/leaflet.draw/leaflet.draw.js
    js/common_map.js
    js/geolocalization.js

    js/vendor/leaflet/leaflet.css
    js/vendor/leaflet.draw/leaflet.draw.css
    css/geolocalization.css
translator =
    css/translate.css
    js/translate.js

geojson =
    js/vendor/leaflet/leaflet-src.js
    js/vendor/leaflet.draw/leaflet.draw.js
    js/vendor/leaflet.wfs-t/leaflet.gml.js
    js/vendor/leaflet.wfs-t/leaflet.wfst.js
    js/vendor/leaflet/leaflet.css

    js/common_map.js
    js/geojson_preview.js
    js/vendor/leaflet.draw/leaflet.draw.css
    css/geojson_preview.css

recline =
    recline/vendor/jquery/1.7.1/jquery.js
    recline/vendor/underscore/1.4.2/underscore.js
    recline/vendor/backbone/0.9.2/backbone.js
    recline/vendor/mustache/0.5.0-dev/mustache.js
    recline/vendor/bootstrap/2.0.2/bootstrap.js
    recline/vendor/json/json2.js
    recline/vendor/flot/excanvas.js
    recline/vendor/flot/jquery.flot.js
    js/vendor/leaflet/leaflet-src.js
    js/vendor/leaflet.draw/leaflet.draw.js
    js/vendor/leaflet.wfs-t/leaflet.gml.js
    js/vendor/leaflet.wfs-t/leaflet.wfst.js    
    recline/vendor/leaflet.markercluster/leaflet.markercluster.js
    recline/vendor/slickgrid/2.0.1/jquery-ui-1.8.16.custom.js
    recline/vendor/slickgrid/2.0.1/jquery.event.drag-2.0.js
    recline/vendor/slickgrid/2.0.1/slick.grid.js
    recline/vendor/moment/1.6.2/moment.js

    recline/vendor/recline/recline.js

    recline/preview_recline_lait.js

    recline/vendor/bootstrap/2.0.2/css/bootstrap.css
    js/vendor/leaflet/leaflet.css
    js/vendor/leaflet.draw/leaflet.draw.css
    recline/vendor/leaflet.markercluster/MarkerCluster.css
    recline/vendor/leaflet.markercluster/MarkerCluster.Default.css
    recline/vendor/leaflet.markercluster/MarkerCluster.Default.ie.css
    recline/vendor/slickgrid/2.0.1/slick.grid.css
    recline/vendor/recline/recline.css

    recline/css/recline.css

wms =

    js/vendor/openlayers/OpenLayers.js

    js/wms_preview.js

    css/wms_preview.css